$mainColor: #e9effc;
$additionalColor: #d2dff9;
$mainTextColor: #0d2659;
$additionalTextColor: #133986;
$contrastTextColor: #fff;

$breakpoint-xxs: 550px;
$breakpoint-xs: 767px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1919px;

$standartColor: #000;
$mainShadowColor: #1F5F5A;
$hoverBtnColor: #C72A01;
$tabLinkColor: #FFFF0A;